@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Play', sans-serif;
  background: black;
  color: lime;
}

canvas {
  margin-top: 20px;
  text-align: center;
	display: none;
  border: solid 5px lime;
}

#instructions {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

#controls-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

#controls {
  width: 100%;
  text-align: center;
}

#controls-left {
  display: inline-block;
  margin-right: 30px;
  text-align: left;
}

#controls-right {
  display: inline-block;
  text-align: left;
}

#creators {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}


#main-title {
  text-align: center;
  font-size: 50px;
}

#splashpage {
  text-align: center;
}

#splashbutton {
  text-align: center;
  display: inline-block;
  border: solid 5px #D711ED;
  color: #D711ED;
  font-size: 25px;
  padding: 20px 40px 20px 40px;
  margin-bottom: 3%;
  cursor:pointer;
}

/*
	LOGIN FORM MODAL
*/

#loginpage {
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	top: 0px;
	bottom: 0px;
	position: absolute;
	display: none;
}

.loginform {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 25%;
  right: 25%;
}

#login-input {
	width: 100%;
	height: 60px;
	font-size: 25px;
	text-align: center;
}

/*
	LOBBY CHAT ROOM
*/

#lobby {
	height: 100%;
	width: 100%;
	background: black;
	display: none;
}

.chatcontainer {
	height: 100%;
  text-align: center;
}

.userscontainer {
	position: absolute;
	top: 0px;
	bottom: 50px;
	width: 30%;
	float: left;
	background: rgba(0,0,0,0.5);
	border: 3px solid white;
	overflow: auto;
}

.chatmessagescontainer {
	position: absolute;
	top: 0px;
	bottom: 50px;
	left: 30%;
  right: 0;
	float: right;
	background: rgba(0,0,0,0.5);
	border: 3px solid white;
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 17px;
}

.textinputcontainer {
  text-align: left;
	position: fixed;
	bottom: 5px;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,0.5);
	border: 3px solid white;
}

.sendbutton {
	position: absolute;
	border: 3px green;
	background-color: lime;
	cursor:pointer;
	height: 55px;
	width: 10%;
  font-size: 30px;
}

#sendmessage {
	width: 10%;
}

#messageinput {
	width: 90%;
	height: 50px;
	font-size: 30px;
}

#users-title {
	font-size: 30px;
}

.username-div {
	height: 55px;
	font-size: 30px;
	border: 3px solid lime;
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 10px;
	letter-spacing: 5px;
	display: flex;
  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
	align-items: center;
}

.username-text {
	position: static;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	width: 65%;
	letter-spacing: 2px;
	float: left;
}

.ingame-button {
  color: gray;
  border: 3px solid gray;
}

.challenge-button {
	cursor: pointer;
	color: #D711ED;
	border: 3px solid #D711ED;
}

.user-button {
	border-radius: 10px;
	font-size: 20px;
	padding: 4px;
	letter-spacing: 0;
}

.message {
  text-align: left;
	font-size: 25px;
	margin: 3px 10px 3px 10px;
}

.challenge-message {
  border: 3px solid lime;
  padding: 5px 10px 5px 10px;
}

.challenge-message-button {
  cursor: pointer;
  border: 3px solid #D711ED;
  color: #D711ED;
}

.username {
	font-weight: bold;
}

#end {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 50px;
  text-align: center;
  padding: 6px;
}

#end-message {
  background: black;
  padding: 6px;
}

.green-message {
  border: solid 5px lime;
  color: lime;
}

#welcome-message {
	color: lime;
	border-bottom: 3px solid lime;
	width: 100%;
	margin-left: 0;
	padding-left: 10px;
	margin-bottom: 10px;
}

.current-users {
	position: static;
	display: inline-block;
	width: 100%;
}

.current-status {
	position: static;
	display: inline-block;
	width: 30%;
	float: left;
	text-align: center;
	top: 0;
	bottom: 0;
}

#rematch, #return-to-lobby {
  background: black;
  color: #D711ED;
  border: solid 5px #D711ED;
  padding: 6px;
  margin: 5px 0 5px 0;
  cursor: pointer;
}

#rematch-message {
  padding: 5px;
  background: black;
  border: solid 5px lime;
}

#accept, #deny {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: black;
  cursor: pointer;
}

#accept {
  color: #2A11BA;
  border: solid 5px #2A11BA;
}

.red-message {
  color: red;
  border: solid 5px red;
}
